/***************************************** helper-classes.scss.liquid **************************************************
 *                                               Helper Classes                                                        *
 ******************************************************************************************************************** */

/***********************************************************************************************************************
 *                                              Easy Add Classes                                                       *
 ******************************************************************************************************************** */
/* ---------- Clearfix ---------- */
.clearfix {
  @include clearfix();
}

/* ---------- Hide same as `.visually-hidden` ---------- */
.hide {
  @include visually-hidden();
}

// todo: Pick one

/* ---------- Visually Hide same as `.hide` ---------- */
.visually-hidden {
  @include visually-hidden();
}

/* ---------- Visually Show ---------- */
.visually-shown {
  @include visually-shown();
}

/* ---------- Hide Labels Unless No Placeholders ---------- */
.label-hidden {
  @include visually-hidden();

  .no-placeholder & {
    @include visually-shown();
  }
}


/***********************************************************************************************************************
 *                                          Support Easy Add Classes                                                   *
 ******************************************************************************************************************** */
/* -- JS */
/* ---------- Show When JS is Supported ---------- */
.js {
  .no-js & {
    display: none;
  }
}

/* ---------- Show When JS is NOT Supported ---------- */
.no-js:not(html) {
  display: none;

  .no-js & {
    display: block;
  }
}

/* ---------- Focus Hidden ---------- */
.js-focus-hidden:focus {
  outline: none;
}

/* -- Cookies */
/* ---------- Show When Browser Cookies are Supported ---------- */
.supports-cookies {
  html.supports-no-cookies & {
    display: none;
  }
}

/* ---------- Show When Browser Cookies are NOT Supported ---------- */
.supports-no-cookies:not(html) {
  display: none;

  html.supports-no-cookies & {
    display: block;
  }
}


/***********************************************************************************************************************
 *                                           Skip to Content Button                                                    *
 *                                 Overrides .visually-hidden when focused                                             *
 ******************************************************************************************************************** */
.skip-link:focus {
  @include visually-shown(absolute);
  color: $color-primary-font;
  background-color: $color-background;
  z-index: $z-index-skip-to-content;
  transition: none;
}


.full-width {
  @include clearfix();
  max-width: 100%;
  padding: 0;
  margin: 0 auto;
}
