/************************************************** icons.scss *********************************************************
 *                                                  Icon Styles                                                        *
 ******************************************************************************************************************** */
/*
* Default Icon Styles
*/
.icon {
  display: inline-block;
  width: $primary-icon-size;
  height: $primary-icon-size;
  vertical-align: middle;

  .no-svg & {
    display: none;
  }
}

/*
* Larger Icons
*/
.icon--wide {
  width: $primary-icon-size * 2;
}

/*
* SEO Friendly Hidden Fallback Text
*/
.icon-fallback-text, .icon__fallback-text {
  @include visually-hidden();

  .no-svg & {
    @include visually-shown(static);
  }
}


/***********************************************************************************************************************
 *                                                       Social Icons                                                  *
 ******************************************************************************************************************** */
/*
* Cart Icons
*/
.icon-bag {
  width: $cart-icon-size;
  height: $cart-icon-size;
}

/*
* Search Icons
*/
.icon-search {
  width: $search-icon-size;
  height: $search-icon-size;
}

/*
* Instagram Icons
*/
.icon-instagram {
  width: $instagram-icon-size;
  height: $instagram-icon-size;
}

/*
* Facebook Icons
*/
.icon-facebook {
  width: $facebook-icon-size;
  height: $facebook-icon-size;
}

/*
* Twitter Icons
*/
.icon-twitter {
  width: $twitter-icon-size;
  height: $twitter-icon-size;
}

/*
* Tik Tok Icons
*/
.icon-tik-tok {
  width: $tik-tok-icon-size;
  height: $tik-tok-icon-size;
}

/*
* Payment Option Icons
*/
.payment-icons {
  @include prefix('user-select', 'none', moz ms webkit spec);
  width: $payment-icon-size;
  height: $payment-icon-size;
  cursor: default;
}
