/************************************************* layout.scss *********************************************************
 *                                                Layout Styles                                                        *
 ******************************************************************************************************************** */

/*
* Root Styles
*/
body, html {
  max-width: 100vw !important;
  min-height: 100vh;

  font-family: $primary-font;
  font-size: $primary-font-size;
  line-height: $primary-line-height;
  letter-spacing: $primary-letter-spacing;
  color: $color-primary-font;

  background-color: $color-background;
}

body {
  position: relative;
  overflow-x: hidden;

  width: 100%;
  height: 100%;
}

@media (min-width: 737px) {
  body.template--product {
    overflow: hidden !important;
  }
}

/*
* Table Styles
*/
$table-border: thin solid #1e1e1e;

table {
  width: 100%;
  text-align: left;
  letter-spacing: .075rem;
  border-spacing: 0;
  border: $table-border;
  margin: 1.25em 0;
}

thead {
  tr {
    th {
      border-bottom: $table-border;
    }
  }
}

tr:nth-child(even) {
  background-color: #f1f1f1;
}

.container {
  @include flexbox(); 

  margin: 0 auto;
  position: absolute;
  min-height: 100vh;
  width: 100vw;
  max-width: 100vw;
}

.video-container {
  @include flex();
  @include justify-content(center);
  @include align-items(center);

  width: 100%;
  height: 100%;

  position: fixed;
  left: 0;
  top: 0;

  background: white;
  overflow: hidden;

  background-image: url("https://cdn.shopify.com/s/files/1/0305/3132/1995/files/desktop.jpg?v=1585852852");
  background-size: cover;
}

.video-container video{
  width: 100%;
  height: 100%;
  position: fixed;
  object-fit: cover;
  z-index: -50;
}

/*
* Lookbook todo: evaluate/delete
*/
.lookbook-grid {
  width: 100%;
  margin: 2.5em auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.lookbook-grid__image {
  padding: 1rem;
  width: 50%;
}

.lookbook-grid__image img {
  width: 100%;
}

#shopify-section-lookbook {
  padding: 0 2em;
  width: 100%;
}

.page__container, .page__container_general {
  padding-left: 20em;
  padding-right: 15em;
  padding-top: 10em;

  width: 100vw;
}

.search_container {
  @include flexbox();
  @include flex-direction(column);
  @include align-items(center);
}

.page__body {
  text-align: justify;
}

.search__submit_container {
  @include flexbox();
  @include flex-direction(column);
  @include align-items(center);
}

.search__submit {
  color: white;
  background-color: rgba(17, 17, 17, 1);
  padding: .5em;
  border-radius: 2px;
}

.search--result__container {
  @include flexbox();
  @include flex-direction(column);
  @include justify-content(center);

  margin-bottom: 3em;
}

.search--result__image--container {
  @include flexbox();
  @include justify-content(center);
}

.search--result__image {
  height: 250px;
  margin-bottom: 1em;
}

.search--result__title {
  text-align: center;

  a {
    text-decoration: none;
  }
}

.contact__page__container {
  margin: 10em 20em;
}

// ---------------------------------------------------------------------------------------------------------------------

.header__container {
  @include flexbox();
  @include flex-direction(column);

  position: fixed;
  width: 100%;
  z-index: 100;

  background-color: transparent;
  transition: background-color 1s ease;
}

.marquee__section {

}

.header__section {
  @include flexbox();
  @include flex-direction(row);
  @include justify-content(space-between);
  @include align-items(center);
  @include order(0);

  background-color: transparent;

  padding: 0 1em;
}

@media screen and (min-width: 736px) {
  .side__background {
    width: 250px;
    height: 100vh;
    position: fixed;
    //background-color: hsla(180, 100%, 100%, .75);

    animation-name: dropHeight2;
    animation-timing-function: ease;
    animation-duration: 2000ms;
  }

  @supports (backdrop-filter: blur(1px)) {
    .side__background {
      //backdrop-filter: blur(10px);
      //background-color: hsla(0, 100%, 100%, .25);
    }
  }

  @keyframes dropHeight2 {
    from {
      height: 0;
    }

    to {
      height: 100%;
    }
  }
}


// --- Cookie Disclaimer
#disclaimer__container {
  @include flexbox();
  @include justify-content(center);
  @include align-items(center);
  @include flex-direction(column);

  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  background-color: transparent;
  z-index: 1000;
  text-align: center;

  color: white;

  opacity: 0;
  display: none;
  transition: opacity 1s ease;

  backdrop-filter: blur(10px);
}

.disclaimer--background {
  position: absolute;
  background-image: url("https://cdn.shopify.com/s/files/1/0305/3132/1995/files/scanlines.jpg?v=1585817492");
  background-size: cover;

  width: 100%;
  height: 100%;
  z-index: -1000;

  opacity: .5;


  animation: shake 1s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(0px, 1px) }
  10% { transform: translate(0px, -2px) }
  20% { transform: translate(0px, 0px) }
  30% { transform: translate(0px, 2px) }
  40% { transform: translate(0px, -1px) }
  50% { transform: translate(0px, 2px) }
  60% { transform: translate(0px, 1px) }
  70% { transform: translate(0px, 1px) }
  80% { transform: translate(0px, -1px) }
  90% { transform: translate(0px, 2px) }
  100% { transform: translate(0px, -2px) }
}

.disclaimer--text__container {
  background-color: black;

  padding: 2em;
}

.disclaimer--title,
.disclaimer--body__container,
.disclaimer--accept {
  margin: 1em 1.5em;
  z-index: 1000;
}

.disclaimer--title {
}

.disclaimer--body__container {
  font-size: .5em;
}

.disclaimer--accept {
  width: 30%;
  margin-top: 3em;
  padding: .5em;
  font-weight: bolder;

  color: #101010;
  background-color: white;
  transition: width 700ms ease-in-out,
              color 500ms ease-in-out,
              background-color 200ms ease-out;
}

.disclaimer--accept:hover {
  width: 35%;
  color: white;
  background-color: #ff4040;
}

.disclaimer--csnv {
  font-size: 2em;
  font-weight: bolder;
}

.disclaimer--title {
  font-size: 1.5em;
}

$size: 200px;

.bounce--container-2 {
  display: none;
}

body.template--index {
  .bounce--container {
    //display: none;
    width: $size;
    height: 100%;

    position: fixed;
    top:0;
    left: 0;
    z-index: 1;

    animation: x-2 12s linear infinite alternate;

    .bounce--logo {
      animation: y-2 8s linear infinite alternate, hueRotator 3s linear infinite;
    }
  }
}

@keyframes x-2 {
  100% {
    transform: translateX( calc(100vw - #{$size}) );
  }
}

@keyframes y-2 {
  100% {
    transform: translateY( calc(100vh - 68.44px) );
  }
}

@keyframes hueRotator {
  0% {
    filter: hue-rotate(0deg);
  }

  100% {
    filter: hue-rotate(360deg);
  }
}
