/************************************************* layout.scss *********************************************************
 *                                                Layout Styles                                                        *
 ******************************************************************************************************************** */

/*
* Root Styles
*/
body, html {
  max-width: 100vw !important;
  min-height: 100vh;

  font-family: $primary-font;
  font-size: $primary-font-size;
  line-height: $primary-line-height;
  letter-spacing: $primary-letter-spacing;
  color: $color-primary-font;

  background-color: $color-background;
}

body {
  position: relative;
  overflow-x: hidden;

  width: 100%;
  height: 100%;
}

/*
* Table Styles
*/
$table-border: thin solid #1e1e1e;

table {
  width: 100%;
  text-align: left;
  letter-spacing: .075rem;
  border-spacing: 0;
  border: $table-border;
  margin: 1.25em 0;
}

thead {
  tr {
    th {
      border-bottom: $table-border;
    }
  }
}

tr:nth-child(even) {
  background-color: #f1f1f1;
}

.container {
  @include flexbox(); 

  margin: 0 auto;
  position: absolute;
  min-height: 100vh;
  width: 100vw;
  max-width: 100vw;
}

.video-container {
  @include flex();
  @include justify-content(center);
  @include align-items(center);

  width: 100%;
  height: 100%;

  position: fixed;
  left: 0;
  top: 0;

  background: white;
  overflow: hidden;
}

.video-container video{
  width: 100%;
  height: 100%;
  position: fixed;
  object-fit: cover;
  z-index: -50;
}

/*
* Lookbook todo: evaluate/delete
*/
.lookbook-grid {
  width: 100%;
  margin: 2.5em auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.lookbook-grid__image {
  padding: 1rem;
  width: 50%;
}

.lookbook-grid__image img {
  width: 100%;
}

#shopify-section-lookbook {
  padding: 0 2em;
  width: 100%;
}

.page__container, .page__container_general {
  padding-left: 20em;
  padding-right: 15em;
  padding-top: 10em;

  width: 100vw;
}

.search_container {
  @include flexbox();
  @include flex-direction(column);
  @include align-items(center);
}

.page__body {
  text-align: justify;
}

.search__submit_container {
  @include flexbox();
  @include flex-direction(column);
  @include align-items(center);
}

.search__submit {
  color: white;
  background-color: rgba(17, 17, 17, 1);
  padding: .5em;
  border-radius: 2px;
}

.contact__page__container {
  margin: 10em 20em;
}

// ---------------------------------------------------------------------------------------------------------------------

.m-header_container {
  background-color: red;
}

.m-header_section {
  @include flexbox();
  @include flex-direction(row);
  @include justify-content(space-between);
  @include align-items(center);
}
