{% comment %}{# ------ Shopping Cart Menu ------ #}{% endcomment %}
<div id="cart" class="cart">
    {% comment %}{# Cart #}{% endcomment %}
    <div class="shopping-cart__content">
        {% comment %}{# No Items in Cart #}{% endcomment %}
        {% if cart.item_count == 0 %}

            <div id="shopping-cart__empty-text" class="shopping-cart__empty-text">The shopping bag is empty.</div>

            <div class="empty__bag_video_container">
                <a href="/cart">
                    <video class="empty__bag_collection_video" autoplay muted loop playsinline preload disablePictureInPicture
                           poster="https://cdn.shopify.com/s/files/1/0188/6325/9699/files/wiy-poster-3.PNG?v=1580146792">
                        <source src="https://cdn.shopify.com/s/files/1/0188/6325/9699/files/6494e618-2175-47d1-a407-84e2c5d85bc6.MP4?940" type="video/mp4">
                    </video>
                </a>
            </div>

            {% comment %}{# Items are in Cart #}{% endcomment %}
        {% else %}
            <form class="shopping-cart__content-container" action="{{ routes.cart_url }}" method="post" novalidate class="cart">

                <div class="cart__title">Checkout Bag</div>

                <div class="clickBag">
                    Click Bag Icon
                </div>

                <div class="shopping-cart__footer-container">
                    {% comment %}{# Cart Subtotal #}{% endcomment %}
                    <div class="shopping-cart__subtotal">
						<span class="shopping-cart__subtotal-text">
							{% comment %}{# todo: Localize #}{% endcomment %}
							<span>Subtotal</span><span id="cart__total_price">{{ cart.total_price | money }}</span>
						</span>
                    </div>

                    {% comment %}{# Cart Footer #}{% endcomment %}
                    <div class="shopping-cart__footer">
                        {% comment %}{# todo: Localize #}{% endcomment %}
                        <p>Shipping & taxes calculated at checkout</p>

                        {% comment %}{# todo: Localize #}{% endcomment %}
                        <p><strong>INTERNATIONAL ORDERS MAY BE SUBJECT TO CUSTOMS DUTIES OR IMPORT TAXES</strong></p>
                    </div>

                    {% comment %}{# Submit Button #}{% endcomment %}
                    <div class="shopping-cart__button-containers">
                        <!-- <a class="shopping-cart__empty-cart" href="/cart/clear">Empty Cart</a> -->

                        {% comment %}{# todo: Localize #}{% endcomment %}
                        <button class="shopping-cart__checkout button--colored" name="checkout" action="/checkout/">
                            Checkout
                        </button>
                    </div>
                </div>
            </form>

        {% endif %}
    </div>
</div>
