
<h1 class="visually-hidden">{{ collection.title }}</h1>

{% if collection.description %}
<div class="collection__description">
	{{ collection.description }}
</div>
{% endif %}

{% section 'lookbook' %}

<section class="product-grid">
</section>

