{% if settings.collection_heading_video_fallback %}
    <div class="collection_video_container">
        <video class="collection_video" autoplay muted loop playsinline preload disablePictureInPicture
               poster="https://cdn.shopify.com/s/files/1/0188/6325/9699/files/wiy-poster.PNG?v=1580061262">
            <source src="https://cdn.shopify.com/s/files/1/0188/6325/9699/files/80202500_137666454321675_4020897754693855417_n.mp4?824" type="video/mp4">
        </video>
    </div>
{% endif %}

<h1 class="visually-hidden">{{ collection.title }}</h1>

{% if collection.description %}
<div class="collection__description">
	{{ collection.description }}
</div>
{% endif %}

{% section 'lookbook' %}

<div class="campaign_video_container">
    <video class="campaign_collection_video" autoplay muted loop playsinline preload disablePictureInPicture
           poster="https://cdn.shopify.com/s/files/1/0188/6325/9699/files/wiy-poster-2.PNG?v=1580146792">
        <source src="https://cdn.shopify.com/s/files/1/0188/6325/9699/files/8e0c274e-31df-4cb2-af9d-b32315552628.MP4?937" type="video/mp4">
    </video>

    <video class="campaign_collection_video" autoplay muted loop playsinline preload disablePictureInPicture
           poster="https://cdn.shopify.com/s/files/1/0188/6325/9699/files/wiy-poster-2.PNG?v=1580146792">
        <source src="https://cdn.shopify.com/s/files/1/0188/6325/9699/files/8e0c274e-31df-4cb2-af9d-b32315552628.MP4?937" type="video/mp4">
    </video>

    <video class="campaign_collection_video" autoplay muted loop playsinline preload disablePictureInPicture
           poster="https://cdn.shopify.com/s/files/1/0188/6325/9699/files/wiy-poster-2.PNG?v=1580146792">
        <source src="https://cdn.shopify.com/s/files/1/0188/6325/9699/files/8e0c274e-31df-4cb2-af9d-b32315552628.MP4?937" type="video/mp4">
    </video>
</div>

