.shopping-cart__mask {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  display: none;
}

.is-open .shopping-cart__mask {
  opacity: 1;
  visibility: visible;
  display: block;
}



.header-cart {
  position: fixed;
  z-index: 100;
  top: 44px;
  right: 60px;
  width: 3rem;
  height: 3rem;
}

.header-cart__count {
  position: absolute;
  top: -0.2rem;
  right: -0.8rem;
  font-weight: 700;
  /*background-color: white;
  text-align: center;
  height: 30px;
  width: 30px;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 0.1em solid #111;*/
}

.header-cart__count__text {
  color: inherit;
  font-size: 0.75rem;
  letter-spacing: 0.3em;
}

.header-cart button {
  width: 100%;
  padding: 0.8em;
}

.shopping-cart {
  position: fixed;
  top: 0;
  right: -100%;
  transition: right 2000ms ease;
  will-change: right;
  z-index: 200;
  height: 100%;
  width: 100%;
}

.shopping-cart.is-open {
  right: 0;
}

.shopping-cart input {
  color: inherit;
}

.shopping-cart__content {
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: #fff;
  width:100%;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap:wrap;
  flex-wrap:wrap;
  height: 100%;
  max-width: 360px;
  width: 92%;
  /*padding: 0.5em 1em;*/
  position: absolute;
  right: 0;
  will-change:scroll-position;
  box-shadow: 0 0 1em rgba(0,0,0,0.2);
  pointer-events: auto;
}

.shopping-cart__empty-text {
  display: inline-block;
  width: 100%;
  text-align: center;
  margin-top: 10em;
  padding: 0 1em;
}

.shopping-cart__content h1 {
  font-size: 0.75rem;
  letter-spacing: 0.3em;
  line-height: 1;
  padding: 0 1rem;
  margin-bottom: 1.25rem;
}

.shopping-cart__footer {
  font-size: 0.6rem;
  text-align: center;
  padding:  .5rem 1rem;
}

.shopping-cart__footer p {
  margin: .5rem 0;
}

.shopping-cart__footer p:first-child {
  margin-top: 0;
}

.shopping-cart__footer p:last-child {
  margin-bottom: 0;
}

.shopping-cart__items {

  margin-top: 3em;
  position: relative;
}

.shopping-cart__item {
  @include flexbox();
  @include justify-content(center);
  @include flex-direction(row);

  font-size: 0.7rem;
  padding:.5em 1em;
}

.shopping-cart__item:first-child {
  margin-top: 0;
}

.shopping-cart__details_container {
  @include flexbox();
  @include flex-direction(column);

  margin-right: 30px;
}

.shopping-cart__inputs_container {
  @include flexbox();
  @include flex-direction(column);
  @include align-items(flex-end);
  @include justify-content(space-between);

  margin-left: 30px;
}

.shopping-cart__details {
  @include flexbox();
  @include flex-direction(row);

  margin-left: 1rem;
  padding: 0 0 .5rem;
}

.shopping-cart__title {
  margin-bottom: 0.25rem;
}

.shopping-cart__title,
.shopping-cart__price {
  font-size: 0.6rem;
}

.shopping-cart__quantity {
  @include flexbox();
  @include justify-content(flex-end);
  @include align-items(flex-start);

  margin-top: .25rem;
}

.shopping-cart__quantity label {
  display: inline-block;
  margin: .25em 0 .25em;
}

.shopping-cart__quantity-input {
  text-align: center;
  border-left: none;
  border-right: none;
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
}

.shopping-cart__quantity-button {
  border: thin solid #111;
  padding: .5em .75em;
}

.shopping-cart__cart-remove {
  margin-top: .25rem;
}

.shopping-cart__image {
  max-width: 70px;
  width: 100%;
  height: 100%;
}

.shopping-cart__item input {
  display: inline;
  width: 60px;
  margin: 0;
}
.shopping-cart__subtotal {
  margin: 1em 0 0;
  padding: 1rem 1rem 0;
  border-top: thin solid #111;
  text-align: center;
}

.shopping-cart__subtotal-text {
  @include flexbox();
  @include justify-content(space-between);

  width: 100%;
  text-transform: uppercase;
  font-size: 1em;
  padding: 0 2em;
}

.shopping-cart__button-containers,
.button-containers {
  padding: .5em 0 3em;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
}

.shopping-cart .shopping-cart__button-containers {
  padding: 0;
}

.shopping-cart .shopping-cart__button-containers .shopping-cart__checkout.button--colored {
  width: 100%;
  max-width: unset;
  margin: 0 .5rem;
}

.shopping-cart__button-containers *,
.button-containers {
  margin: 0 1em;
}

.shopping-cart__empty-cart {
  text-decoration: none;
  font-size: .7rem;
  text-transform: uppercase;
}

.shopping-cart__close {
  font-size: 1.8rem;
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  padding: .5rem;
  width: 1.8rem;
}

.shopping-cart__close img {
  width: 100%;
}

.cart__item_container {
  height: 100%;
  @include flexbox();
  @include flex-wrap(wrap);
  @include flex-direction(column);
}

.cart__page__container {
  width: 100vw;
  min-height: 100vh;
}

.cart_page__title {
  text-align: center;
  font-size: 1em;
  font-weight: 700;
  margin-top: 15px;
}

.shopping-cart__divider {
  @include align-self(center);
  width: 25vw;
  height: 1px;
  border-radius: 1px;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 1em 0;
}

.shopping-cart__checkout_container {
  position: fixed;
  bottom: 0;
  width: 100vw;
  margin-top: auto;
  background-color: white;

  box-shadow: 1px -4px 22px 2px rgba(0,0,0,0.1);
}

@supports (backdrop-filter: blur(10px)) {
  backdrop-filter: blur(10px);
  background-color: transparent;
}

.empty__bag_video_container {
  @include flexbox();
  @include justify-content(center);
}

.empty__bag_collection_video {
  width: 20vw;
  margin-top: 10vh;
}
