.shopping-cart__mask {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  display: none;
}

.is-open .shopping-cart__mask {
  opacity: 1;
  visibility: visible;
  display: block;
}



.header-cart {
  position: fixed;
  z-index: 100;
  top: 44px;
  right: 60px;
  width: 3rem;
  height: 3rem;
}

.header-cart__count {
  position: absolute;
  top: -0.2rem;
  right: -0.8rem;
  font-weight: 700;
  /*background-color: white;
  text-align: center;
  height: 30px;
  width: 30px;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 0.1em solid #111;*/
}

.header-cart__count__text {
  color: inherit;
  font-size: 0.75rem;
  letter-spacing: 0.3em;
}

.header-cart button {
  width: 100%;
  padding: 0.8em;
}

.header-cart button, .shopping-cart__close {
  transform: scale(1);
  transition: transform 1s ease;
}

.header-cart button:focus, .shopping-cart__close:focus {
  @include prefix(user-select, none, webkit moz ms o spec);
  cursor: pointer;

  transform: scale(2);
}


.shopping-cart {
  position: fixed;
  left: 0;
  top: -100%;
  transition: top 1000ms ease;
  will-change: top;
  z-index: 200;
  height: 100%;
  width: 100%;
}

.shopping-cart.is-closed {
  top: -100%;
}

.shopping-cart.is-open {
  top: 0;
}

.shopping-cart input {
  color: inherit;
}

.shopping-cart__content {
  @include flexbox();
  @include flex-direction(column);
  @include flex-wrap(wrap);

  overflow-x: hidden;
  background-color: #fff;
  width:100%;
  height: 100%;
  position: absolute;
  right: 0;
  will-change:scroll-position;
  box-shadow: 0 0 1em rgba(0,0,0,0.2);
  pointer-events: auto;
}

.shopping-cart__empty-text {
  display: inline-block;
  width: 100%;
  text-align: center;
  margin-top: 10em;
  padding: 0 1em;
}

.shopping-cart__content h1 {
  font-size: 0.75rem;
  letter-spacing: 0.3em;
  line-height: 1;
  padding: 0 1rem;
  margin-bottom: 1.25rem;
  display: inline;
}

.shopping-cart__footer {
  font-size: 0.6rem;
  text-align: center;
  padding:  .5rem 1rem;
}

.shopping-cart__footer p {
  margin: .5rem 0;
}

.shopping-cart__footer p:first-child {
  margin-top: 0;
}

.shopping-cart__footer p:last-child {
  margin-bottom: 0;
}

.shopping-cart__items {
  @include align-self(center);
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  max-height: 70%;

  overflow-y: scroll;
}

.shopping-cart__item {
  @include flexbox();
  @include justify-content(space-between);
  @include flex-direction(row);

  width: 300px;

  font-size: 1rem;
  margin-top: 1em;
  padding:1em 1em 0 1em;
  cursor: pointer;
}

.shopping-cart__item:first-child {
  margin-top: 0;
}

.shopping-cart__details_container {
  @include flexbox();
  @include flex-direction(column);
  @include align-items(center);
  @include justify-content(center);
}

.shopping-cart__inputs_container {
  @include flexbox();
  @include flex-direction(column);
  @include align-items(flex-end);
  @include justify-content(space-between);

  margin-left: 30px;
}

.shopping-cart__details {
  @include flexbox();
  @include flex-direction(row);
  @include justify-content(space-between);
}

.shopping-cart__title {
  text-align: center;
  font-weight: bolder;
  font-size: 0.9rem;
  padding: 1em;
}
.cart__title {
  text-align: center;
  font-weight: bolder;
  font-size: 1.3rem;
  margin-top: 3em;
}

.shopping-cart__quantity {
  @include flexbox();
  @include justify-content(flex-end);
  @include align-items(flex-start);

  margin-top: .25rem;
}

.shopping-cart__quantity label {
  display: inline-block;
  margin: .25em 0 .25em;
}

.shopping-cart__quantity-input {
  text-align: center;
  border-left: none;
  border-right: none;
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
}

.shopping-cart__quantity-button {
  border: thin solid #111;
  padding: .5em .75em;
}

.shopping-cart__cart-remove {
  margin-top: .25rem;
}

.shopping-cart__image {
  max-width: 50px;
  width: 100%;
  height: 100%;
}

.shopping-cart__item input {
  display: inline;
  width: 60px;
  margin: 0;
}

.shopping-cart__subtotal {
  width: 100%;
  padding: 1rem 1rem 0;
  text-align: center;
}

.shopping-cart__subtotal-text {
  @include flexbox();
  @include justify-content(space-between);

  width: 100%;
  text-transform: uppercase;
  font-size: 1em;
  padding: 0 2em;
}

.shopping-cart__button-containers,
.button-containers {
  padding: .5em 0 3em;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
}

.shopping-cart .shopping-cart__button-containers {
  padding: 0;
}

.shopping-cart .shopping-cart__button-containers .shopping-cart__checkout.button--colored {
  padding: 1em 5em;
  border-radius: 3px;
  max-width: unset;
  margin: 0 .5rem;
}

.shopping-cart__button-containers *,
.button-containers {
  margin: 0 1em;
}

.shopping-cart__empty-cart {
  text-decoration: none;
  font-size: .7rem;
  text-transform: uppercase;
}

.shopping-cart__close {
  padding: 1em;
  z-index: 10;
}

.shopping-cart__close img {
  width: 100%;
}

.cart__item_container {
  height: 100%;
  @include flexbox();
  @include flex-wrap(wrap);
  @include flex-direction(column);
}

.cart__page__container {
  width: 100vw;
  min-height: 100vh;
}

.cart_page__title {
  text-align: center;
  font-size: 1em;
  font-weight: 700;
  margin-top: 15px;
}

.shopping-cart__divider {
  @include align-self(center);
  width: 25vw;
  height: 1px;
  border-radius: 1px;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 1em 0;
}

.shopping-cart__checkout_container {
  position: fixed;
  bottom: 0;
  width: 100vw;
  margin-top: auto;
  background-color: white;

  box-shadow: 1px -4px 22px 2px rgba(0,0,0,0.1);
}

.shopping-cart__checkout {
  z-index: 1;
}

@supports (backdrop-filter: blur(10px)) {
  backdrop-filter: blur(10px);
  background-color: transparent;
}

.empty__bag_video_container {
  @include flexbox();
  @include justify-content(center);
}

.empty__bag_collection_video {
  width: 20vw;
  margin-top: 10vh;
}

.shopping-cart__cart-remove {
  cursor: pointer;
  //background-color: black;
  border-style: solid;
  border-color: #050000;
  border-width: 1px;
  color: black;
  padding: 0.25em .75em;
  margin-top: 0.5em;
  border-radius: 3px;
}

.shopping-cart__item-link {
  margin-top: 0.5em;
}

.shopping-cart__quantity-text {
  font-size: 0.7em;
}

.shopping-cart__size,
.shopping-cart__price {
  font-size: 0.7em;
}

.shopping-cart__size {
  font-weight: bold;
}

#cart-item__container {
  @include flexbox();
  @include align-items(center);
  @include flex-direction(column);
  @include justify-content(center);
  min-height: 100%;
}

.shopping-cart__input-container {
  width: 300px;
  height: 0;
  transition: height 1000ms ease;

  overflow: hidden;
  z-index: 1;
}

.shopping-cart__input {
  @include flexbox();
  @include flex-direction(row);
  @include justify-content(space-between);
  width: 100%;

  padding: 0.5em 0;
}

.cart__add, .cart__remove, .cart__minus, .cart__item-view {
  @include flexbox();
  @include justify-content(center);
  width: 50%;
  padding: 0.5em 0;

  cursor: pointer;
}

.cart__add, .cart__minus {
  background-color: rgba(0, 0, 0, 0.10);
}

.cart__remove {
  font-size: 0.8em;
  border-radius: 3px;
  background-color: rgba(76, 3, 3, 0.1);
  transition: background-color 500ms ease;
  line-height: 2em;
}

.cart__item-view {
  background-color: rgba(255, 255, 255, 0);
  transition: background-color 500ms ease;
}

.cart__remove:hover {
  background-color: rgba(173, 4, 4, 0.25);
}

.cart__item-view:hover {
  background-color: rgba(130, 139, 136, 0.09);
}

.cart__remove:active {
  background-color: rgba(144, 4, 4, 0.5);
}

#remove-all__btn {
  margin: 0.5em 0;
  background-color: rgba(109, 8, 8, 0.79);
  color: #f8f8f8;
  font-size: 0.8em;
  padding: 0.25rem 0.5rem;
  border-radius: 3px;
  cursor: pointer;

  transition: background-color 700ms ease;
}

#remove-all__btn:hover {
  background-color: rgba(159, 14, 14, 0.64);
}

.shopping-cart__content-container {
  @include flexbox();
  @include flex-direction(column);
  @include justify-content(space-between);
  width: 100%;
  height: 95%;
}

.shopping-cart__footer-container {
  @include flexbox();
  @include flex-direction(column);
  @include align-items(center);

  width: 100%;
  height: 30%;
  bottom: 0;

  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.10);
}

.shopping-cart__header-container {
  @include flexbox();
  @include flex-direction(row);
  @include justify-content(space-between);
  height: 5%;
}

.clickBag {
  font-weight: bold;
  text-align: center;
}


// ----------------------------------------------------------------------------------------------------------------

.cart--trigger__container {
  position: relative;
  width: 3rem;
  height: 3rem;

  z-index: 100;
}

.cart--count__container {
  position: absolute;
  top: -0.2rem;
  right: -0.8rem;
  font-weight: 700;
  /*background-color: white;
  text-align: center;
  height: 30px;
  width: 30px;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 0.1em solid #111;*/
}

.cart--count {
  color: inherit;
  font-size: 0.75rem;
  letter-spacing: 0.3em;
}

.header-cart__button {
  width: 100%;
  padding: 0.8em;
}

.header-cart__button {
  transform: scale(1);
  transition: transform 1s ease;
}

.header-cart__button:focus {
  @include prefix(user-select, none, webkit moz ms o spec);
  cursor: pointer;

  transform: scale(2);
}
