.product-price__sold-out {
  display: block;
}


body:not(.template--product, .template--collection) main  {
  max-width: unset;
  margin-top: 0;
  padding: 8em 2.5em 5em 0;

  margin-bottom: 5em;
}

body.template--product main  {
  width: 100%;
  max-width: unset;
  padding-top: 0;
  min-height: 100%;
}

.product-info__description {
  padding: 1em 0 1.5em;
  text-align: left;
}

.product-info__description h3 {
  margin: .5rem 0;
}

.product-info__description p {
  margin: 0 0 1em;
}

.productinfo__sold-out {
  display: block;
  font-weight: 700;
  font-size: 0.7rem;
  text-transform: uppercase;
  margin-top: 2em;
}

.product__info .size-chart__close {
  width: 1rem;
  height: 1rem;
}

.product__info .size-chart__close img {
  width: 100%;
}

.product-info__size-chart-button {
  text-align: right;
}

.product-info__size-chart-trigger {
  font-size: 0.6em;
}

.product__info .product-info__size-chart-trigger {
  width: unset;
  padding: 0;
}

.product-info__size-chart-button {
  text-align: right;
}

.product__info .product-info__size-chart-trigger {
  width: unset;
  padding: 0;
}

#size-chart-container, #cart_feedback__container {
  width: auto;
  height: 0;

  overflow: hidden;
  transition: height 1s ease;
}

#size-chart-intrinsic, #cart_feedback__intrinsic {
  @include flexbox();
  @include flex-direction(coulmn);
  @include justify-content(center);
  @include prefix(user-select, none, webkit moz ms o spec);
  -webkit-touch-callout: none;
}

#size-chart {
  width: 35vh;
}

#product-info__cart-feedback {
  color: white;
  text-align: center;
  font-weight: bold;

  padding: 1em 0;
}

#product-info__cart-feedback {
  background-color: red;
}

.product__info {
  position: fixed;
  margin-left: 55vw;
  margin-top: 30vh;
  transition: margin-top 1s ease;
  order: 1;
}

.product__info.chart-visible {
  margin-top: 10vh;
}

.intrinsic__title_container {
  overflow: visible;
  width: 100%;
}

#product_title {
  @include prefix(user-select, none, webkit moz o spec);
  @include prefix(writing-mode, vertical-lr, webkit moz ms o spec);

  writing-mode: tb;

  font-size: $product-font-size;
  text-align: left;

  padding-right: 2em;

  white-space: nowrap;
}

.product_title_container {
  position: fixed;
  top: 25vh;
  z-index: 5;
}

.product_title_container-mobile {
  display: none;
}

#product_title-mobile {
  font-size: 1.2em;
}


#shopify-section-product-recommendations,
.related-products {
  margin: 2em 0 4em;
  width: 100%;
  flex: 0 0 100%;
}

.related-products * {
  font-size: 0.7rem;
  width: 100%;
}

.related-products__container {
  list-style: none;
  display: flex;
  display: -webkit-flex;
}

.related-product {
  @include prefix(user-select, none, webkit moz o spec);

  width: 20%;
  margin: 0 2em;
}

.related-product a {
  text-decoration: none;
}


.button--disabled {
  text-transform: uppercase;
  font-weight: 700;
  padding: 0;
  margin-top: 1.4em;
}

.prodct__cart-form {
  margin: 1em 0 1.5em;
}

.prodct__cart-form > label {
  display: block;
}

/* ---------- Collections ---------- */
.collection_container {
  @include flexbox();
  @include flex-direction(column);
}

.collection_video_container {
  display: block;

  box-shadow: 0px 5px 25px 9px rgba(0,0,0,0.2),
  0px -5px 25px 9px rgba(255,255,255,0.2);


  position: relative;
  width: 100%;
  height: 150px;
  object-fit: cover;
  overflow: hidden;

  padding: 0;

  z-index: 5;
}

.collection_video_overlay {
  position: absolute;
  width: 100%;
  height: 100%;

  background-color: rgba(255, 255, 255, 0.2);

  z-index: 1;
}

.collection_video {
  position: absolute;
  width: 100%;

  margin: 0;
  padding: 0;
}

.collection_title {
  font-size: 2em;
  margin-top: 1em;
  text-align: center;
}

/* ---------- Products Grid ---------- */
.product-grid {
  @include flexbox();
  @include justify-content(flex-start);
  @include flex-flow(wrap);
  @include align-items(flex-start);

  width: 100%;
  height: 100%;
  position: relative;
  left: 0;
  top: 0;
  padding-left: 3em;
}

$card-width: 25%;
.product-grid__card {
  display: inline-block;
  padding: 2em;
  flex: 1 $card-width;
  width: $card-width;
  max-width: $card-width;

}

.product-grid__card a {
  text-decoration: none;
}

.product-grid__image {
  padding: 0 1.5em;

  width: 100%;

  background-color: $color-product-background;
}

.product-grid__details {
  text-align: center;
  padding-top: 1em;
}

.product-grid__price {
  font-size: 0.75em;
}

.product {
  @include flexbox();
  @include flex-direction(row);
  @include flex-wrap(nowrap);
  @include justify-content(space-between);
  @include align-items(center);
  width: 100%;
}

.product__images {
  @include flexbox();
  @include flex-direction(row);

  width: 50vw;
  height: 100vh;

  order: 0;
  background-color: $color-product-background;
}

#clickRegions {
  @include flexbox();
  @include flex-direction(row);
  @include flex-wrap(nowrap);

  animation: 3s ease 0s 1 fadeout;

  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 5;
}

#mobile_swipe_region {
  display: none;
}

#leftRegion {
  width: 25vw;
  height: 100vh;
}

#rightRegion {
  width: 75vw;
  height: 100vh;
}

.indicators {
  display: none;
}

#pauseGlitch  {
  @include prefix(user-select, none, webkit moz ms o spec);
  margin-top: 1em;
  width: 100%;
  text-align: center;

  opacity: 0;
  transition: opacity 1s;

  animation-name: pulse;
  animation-duration: 3000ms;
  animation-iteration-count: 5;
}

#swipeLeftRight {
  @include prefix(user-select, none, webkit moz ms o spec);
  position: absolute;
  top: 0;
  margin-top: 1em;
  width: 100%;
  text-align: center;

  opacity: 0;
  transition: opacity 1s;

  animation-name: pulse;
  animation-delay: 20000ms;
  animation-duration: 3000ms;
  animation-iteration-count: 5;
}

@keyframes pulse {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .7;
  }
 100% {
   opacity: 0;
 }
}


#product__container {
  @include flexbox();
  @include flex-direction(row);
  @include justify-content(space-between);

  transition: transform 2s ease;

  margin-right: 25vw;
}

.product__images__container {
  @include flexbox();
  @include justify-content(center);
  @include align-items(flex-end);
  position: relative;
  width: 50vw;
  margin-right: 25vw;
}

.product__images__container:last-child {
  margin-right: 50vw;
}

.product__image {
  max-height: 100%;
}

.product__image__intrinsic {
  opacity: .5;
  background-color: rgba(173, 4, 4, 0.27);
}

.glitch_image {
  @include prefix(user-select, none, webkit moz o spec);
  position: absolute;
  max-width: 50vw;
  background-color: transparent !important;
  //padding-top: 2em;
}

/* OLD */
.glitch_image_top {
  clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
}
.glitch_image_bottom {
  clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0% 100%);
}
/* OLD */

.product__info {
  @include prefix(user-select, none, webkit moz o spec);
  padding: 1em;
  align-self: flex-start;
  width: 35vw;
  z-index: 15;
}

.product__info > * {
  font-size: 0.8rem;
  margin: 0.25em 0 .5em;
}

.product__info > h1 {
  font-size: 2rem;
  margin-bottom: 0;
  text-transform: uppercase;
}

.product__info__price {
  font-weight: 400;
  color: #414141;
  margin-bottom: 1.75em;
}

.product__info .single-option-selector {
  width: 100% !important;;
}

.product__info input,
.product__info button,
.product__info select{
  width: 100%;
  max-width: unset;
}


.product__sold-out {
  margin: 1rem 0;
  display: block;
}

.product-info__klarna {
  text-transform: uppercase;
  line-height: 2;
}

.related-product__image {
  background-color: $color-product-background;
}

.campaign_video_container {
  @include flexbox();
  @include justify-content(space-around);
}

.campaign_collection_video {
  width: 20vw;
  height: 20vw;

  transform: scale(1);

  transition: transform 1s ease;
}

.campaign_collection_video:hover {
  transform: scale(0.9);
}

.lookbook__image, .campaign_collection_video  {
  box-shadow: 15px 15px 52px -6px rgba(0,0,0,0.2),
  -15px -15px 52px -6px rgba(255,255,255,.7);

  -webkit-box-shadow: 15px 15px 52px -6px rgba(0,0,0,0.2),
  -15px -15px 52px -6px rgba(255,255,255,.7);
}

#size-chart__lookbook-container {
  @include flexbox();
  @include justify-content(center);

  position: absolute;
  top: 0;
  display: none;

  width: 100vw;
  height: 100%;

  background-color: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(5px);

  opacity: 0;
  transition: opacity 1000ms ease;

  z-index: 1000;
}

.size-chart__image-container {
  position: sticky;
  top: 25vh;
  padding: 2em;
}

#size-chart__image {
  max-height: 90vh;
  max-width: 90vw;

  box-shadow: 0 0 15px 0 rgba(0,0,0,.4);
}

.product__info__badge-container {
  text-align: justify;
  letter-spacing: 0.2em;
  background-color: rgba(30, 30, 30, 0.89);
  color: #f1f1f1;
  padding: 1em;
  font-size: 0.7em;
  margin-bottom: 2em;
}
