@import url('https://fonts.googleapis.com/css?family=VT323&display=swap');

/***********************************************************************************************************************
 *                                                    Icons                                                 	       *
 ******************************************************************************************************************** */
.icon {
	width: 15px;
}

.icon-instagram {
	width: 20px;
}

.icon-bag {
	width: 35px;
}

.icon-search {
	width: 15px;
}

/***********************************************************************************************************************
 *                                                    Layout                                                 	       *
 ******************************************************************************************************************** */


/***********************************************************************************************************************
 *                                                     Text                                                 	       *
 ******************************************************************************************************************** */
h1, h2, h3, h4, h5, h6 {
	text-transform: uppercase;
	margin: 0;
	padding: 0;
}

main h1 {
	font-size: .7rem;
	margin-bottom: 1em;
}

main h2 {
	font-size: .7rem;
}

main h3 {
	font-size: .6rem;
}

main h4 {
	font-size: .6rem;
	text-transform: uppercase;
}

main h5 {
	font-size: .6rem;
	text-transform: uppercase;
}

main h6 {
	font-size: .5rem;
}

a {
	color: inherit;
}

main p {
    margin: 1rem 0;
}

ul li {
	list-style: none;
}

strong {
	font-weight: 700;
}

/***********************************************************************************************************************
 *                                                     form                                                 	       *
 ******************************************************************************************************************** */
input, select {
	font-family: inherit;
	font-size: 0.7rem;
	background-color: transparent;
	border: thin solid #111;
	padding: .5em 1.25em;
	display: block;
	margin: .75em 0;
	width: 100%;
	max-width: 416px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border-radius: 0;
  	outline: none;
}

/***********************************************************************************************************************
 *                                                     Forms                                                 	       *
 ******************************************************************************************************************** */
input[type="checkbox"] {
	width: 1rem;
	height: 1rem;
	padding: 0;
	display: inline-block;
	margin-right: .5rem;
}

input[type="checkbox"]:checked {
	background-color: #111;
	box-shadow: 2px 2px 0 inset white, -2px -2px 0 inset white;
}

input[type="checkbox"] + label {
	margin: .75em 0;
}

.form-group {
	display: -webkit-flex;
	display: flex;
}

.form-group__set {
	width: 50%;
	width: calc(50% - 2rem)
}

.form-group__set:first-child {
	padding-right: 2rem;
}

.form-group--full-width {
	display: block;
	padding-right: 4rem;
}

.form-group--full-width * {
	max-width: unset;
}

.form-group--inline {
	display: -webkit-flex;
	display: flex;
}

.form-group.form-group--inline  input[type="checkbox"] {
  flex: 0 0 1rem;
}

textarea {
ljkhkjhjklhjlhjhl
}

select {
	background-image:url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 4"><path d="M4 3.76L.21 1.05.79.24 4 2.53 7.21.24l.58.81z"/></svg>');
	background-position:center right 16px;
	background-size:8px 4px;
	background-repeat:no-repeat;
	letter-spacing:.1em;
	text-transform:uppercase;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

label {
	font-weight: 700;
	margin: 1.75em 0 .75em;
	display: block;
}

label[for^='address_'] {
	display: inline-block;
}

input::placeholder {
	font-size: inherit;
	color: inherit;
}

button,
input[type="submit"],
input[type="button"]{
	font-family: inherit;
	color: inherit;
	background-color: transparent;
	border: none;
	cursor: pointer;
	padding: 0.25em 0;
	letter-spacing: .2em;
	width: auto;
	text-transform: uppercase;
	text-decoration: none;
	font-size: .7rem;
}

main button,
main input[type="submit"],
main input[type="button"] {
	margin: .75em 0;
}

.button--colored,
button.button--colored,
input[type="submit"].button--colored,
input[type="button"].button--colored,
.shopify-challenge__button[type="submit"] {
	color:  #fff;
	font-weight: 700;
	background-color: #000;
	padding: 0.5rem 1rem;
}

.shopify-challenge__button[type="submit"] {
	max-width: unset;
	width: auto;
}


/***********************************************************************************************************************
 *                                                     Forms                                                 	       *
 ******************************************************************************************************************** */
.myaccount__account-details,
.myaccount__addresses {
	margin: 1.75em 0;
}

.btn--narrow {
	max-width: 30px;
}

.form-vertical {
	margin: 0 auto;
	max-width: 440px;
	width: 100%;
}

.template--customers-login .form-vertical,
.template--customers-register .form-vertical {
	margin: 0 auto;
	max-width: unset;
	width: 100%;
	font-size: 0.6rem;
}

#RecoverPasswordForm {
	display: none;
}

#RecoverPasswordForm:target {
	display: block;
}

.hide {
	display: none;
}


table {
	width: 100%;
	text-align: left;
	letter-spacing:.075rem;
	border-spacing:0;
	border-width:0;
	border: thin solid #1e1e1e;
	margin: 1.25em 0;
}

thead tr th{
	border-bottom: thin solid #1e1e1e;
}

thead, th, tr, td {
	padding: 1em;
}

tr:nth-child(even) {
	background-color: #f1f1f1;
}


.grid.myaccount {
	margin-top: 1.25em;
}

.password-recover-form {
	margin-top: 5em;
}

.input--error, .input-error-message, .form-message--error {
	color: #ad0404;
	border-color: #ad0404;
}

.product-price__sold-out {
	display: block;
}

.visually-hidden,
.icon__fallback-text {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
}

.hide {
	display: none;
}

.alert-banner {
	width: 100%;
	height: 28px;
	overflow: hidden;
	position: fixed;
	z-index: 5;
}

.alert-banner__marquee {
	width: 100%;
	font-family: 'VT323', monospace;
	font-size: 1.75rem;
	line-height: 1;
	text-transform: uppercase;
	position: relative;
}

.alert-banner__marquee span {
	text-align: center;
	width: 30%;
	display: block;
	position: absolute;
	right: -30%;
	will-change: transform;
	animation: marquee 9s linear infinite;
}

.alert-banner__marquee span:nth-child(1) {
	animation-delay: 0s;
}

.alert-banner__marquee span:nth-child(2) {
	animation-delay: 3s;
}

.alert-banner__marquee span:nth-child(3) {
	animation-delay: 6s;
}

@keyframes marquee {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-450%);
	}
}

.container {
	max-width: 1920px;
	margin: 0 auto;
	position: relative;
	min-height: 100%;
	display: flex;
	display: -webkit-flex;
}

.side-bar--is-open .container:before {
	content: '';
	background-color: transparent;
	height: 100vh;
	width: 100vw;
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	z-index: 10;
}

.shopping-cart__mask {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
	display: none;
}

.is-open .shopping-cart__mask {
	opacity: 1;
	visibility: visible;
	display: block;
}

.video-container {
	z-index: -999;
	position: fixed;
	display: flex;
	display: -webkit-flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: white;
	overflow: hidden;
}

.video-container video{
	position: fixed;
	z-index: -50;
	width: 100vw;
	height: 100vh;
	object-fit: cover;
}

.side-bar {
	display: flex;
	display: -webkit-flex;
	flex-direction: column;
	flex-wrap: nowrap;
	height: 100vh;
	padding: .5em 1em;
	width: 186px;
	position: fixed;
	z-index: 10;
	left: 1.5em;
}

/*@supports (position: sticky) {
	.side-bar {
		position: -webkit-sticky;
		position: sticky;
		top: 0;
	}
}*/

.side-bar a, .side-bar button {
	font-size: 0.6rem;
	text-transform: uppercase;
	text-align: left;
	letter-spacing: 0.075em;
}

.side-bar__mask {
	display: none;
	position: fixed;
	height: 100vh;
	width: 100vw;
	background-color: transparent;
	z-index: 10;
	left: 0;
	right: 0;
}

.side-bar--is-open .side-bar__mask {
	display: block;
}

.side-bar__header-logo {
	width: 150px;
	display: flex;
	display: -webkit-flex;
	flex-direction: column;
	position: relative;
	top: 20%;
	top: 2.5em;
	left: 0;
	align-items: center;
}

.side-bar__header-logo img {
	width: 100%;
	height: auto;
	margin-bottom: 1em;
}

.side-bar__header-logo .side-bar__header-logo__reg {
	font-size: 0.5rem;
	display: inline-block;
	line-height: 1.4;
	text-align: center;
}

.side-bar__nav {
	margin-top: 5em;
	padding-bottom: 2.2em;
	flex: 1;
}

.side-bar__nav ul li {
	margin: .25em 0;
	display: block;
	white-space: nowrap;
}

.side-bar__menu-button {
	display: none;
	padding: .5em;
	text-transform: uppercase;
	font-weight: 700;
}

.side-bar__menu-button span {
	display: block;
	font-weight: 700;
	letter-spacing: 0;
}

.side-bar__nav a{
	color: inherit;
	text-decoration: none;
}

.side-bar__nav .account-name {
	font-size: .6rem;
	text-transform: initial;
	margin-top: 0;
	display: block;
	white-space: nowrap;
}

.side-bar__nav li {
	list-style: none;
}

.side-bar__nav__dropdown-trigger {
	padding-left: 0;
	white-space: nowrap;
}

.side-bar__nav__dropdown button:after {
	content: '\25BC';
	font-size: 0.5rem;
	display: inline-block;
	margin-top: -20px;
}

.side-bar__nav__dropdown.is-active button:after {
	content: '\25B2';
}

.side-bar__nav__dropdown-container {
	padding-left: 0.8em;
	overflow: hidden;
	max-height: 0;
	will-change: max-height;
	transition: max-height 0.6s ease-in-out;
}

.is-active .side-bar__nav__dropdown-container{
	max-height: unset;
}

.side-bar__footer {
	margin-bottom: 2.2em;
}

.side-bar__search {
	margin-bottom: 2.2em;
	margin-left: 0;
}

.side-bar__search-mask {
	width: 0;
	transition: all .45s ease-in-out;
	display: inline-block;
	overflow: hidden;
}

.side-bar__search-form {
	display: -webkit-flex;
	display: flex;
}

.side-bar__search input{
	display: inline-block;
	margin-right: .5rem;
	max-width: 120px;
}

.side-bar__search:hover .side-bar__search-mask,
.side-bar__search:focus .side-bar__search-mask,
.side-bar__search:focus-within .side-bar__search-mask,
.side-bar__search:active .side-bar__search-mask,
.side-bar__search input:focus{
	width: 100%;
	margin-right: .5rem;
}

.side-bar__search-button {
	margin-left: 0;
}

.side-bar__search-button img {
	width: 1rem;
}

.side-bar__social ul{
	display: flex;
	display: -webkit-flex;
	flex-direction: row;
}

.side-bar__social ul li {
	padding: 0 .5em;
}

.side-bar__social ul li:first-child {
	padding-left: 0;
}

.side-bar__social__link img{
	height: 1rem;
	width: 1rem;
}

.header-cart {
	position: fixed;
	z-index: 100;
	top: 44px;
	right: 60px;
	width: 3rem;
	height: 3rem;
}

.header-cart__count {
	position: absolute;
	top: -0.2rem;
	right: -0.8rem;
	font-weight: 700;
	/*background-color: white;
	text-align: center;
	height: 30px;
	width: 30px;
	display: flex;
	display: -webkit-flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	border: 0.1em solid #111;*/
}

.header-cart__count__text {
	color: inherit;
	font-size: 0.75rem;
	letter-spacing: 0.3em;
}

.header-cart button {
	width: 100%;
	padding: 0.8em;
}

.shopping-cart {
	position: fixed;
	top: 0;
	right: -100%;
	transition: right .6s ease-in-out;
	will-change: right;
	z-index: 200;
	height: 100%;
	width: 100%;
}

.shopping-cart.is-open {
	right: 0;
}

.shopping-cart input {
	color: inherit;
}

.shopping-cart__content {
	overflow-x: hidden;
	overflow-y: scroll;
	background-color: #fff;
	 width:100%;
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-wrap:wrap;
	flex-wrap:wrap;
	-webkit-box-pack:justify;
	-ms-flex-pack:justify;
	justify-content:space-between;
	height: 100%;
	max-width: 360px;
	width: 92%;
	/*padding: 0.5em 1em;*/
	position: absolute;
	right: 0;
	will-change:scroll-position;
	-webkit-overflow-scrolling:touch;
	overflow-scrolling:touch;
	box-shadow: 0 0 1em rgba(0,0,0,0.2);
	pointer-events: auto;
}

.shopping-cart__empty-text {
	display: inline-block;
	width: 100%;
	text-align: center;
	margin-top: 10em;
}

.shopping-cart__content h1 {
  font-size: 0.75rem;
  letter-spacing: 0.3em;
  line-height: 1;
  padding: 0 1rem;
  margin-bottom: 1.25rem;
}

.shopping-cart__footer {
	font-size: 0.6rem;
	text-align: center;
	padding:  .5rem 1rem;
}

.shopping-cart__footer p {
	margin: .5rem 0;
}

.shopping-cart__footer p:first-child {
	margin-top: 0;
}

.shopping-cart__footer p:last-child {
	margin-bottom: 0;
}

.shopping-cart__items {
	margin-top: 3em;
	position: relative;
}

.shopping-cart__item {
	font-size: 0.7rem;
	width: 100%;
	margin: 1.5rem 0;
	display: flex;
	display: -webkit-flex;
	padding: 0 1rem;
}

.shopping-cart__item:first-child {
	margin-top: 0;
}

.shopping-cart__details {
	display: block;
	margin-left: 1rem;
	padding: 0 0 .5rem;
}

.shopping-cart__title {
	margin-bottom: 0.25rem;
}

.shopping-cart__title,
.shopping-cart__price {
	font-size: 0.6rem;
}

.shopping-cart__details > * {
	display: block;
}

.shopping-cart__quantity {
    margin-top: .25rem;
}

.shopping-cart__quantity label {
	display: inline-block;
	margin: .25em 0 .25em;
}

.shopping-cart__quantity-input {
  text-align: center;
  border-left: none;
  border-right: none;
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
}

.shopping-cart__quantity-button {
  border: thin solid #111;
  padding: .5em .75em;
}

.shopping-cart__cart-remove {
	margin-top: .25rem;
}

.shopping-cart__image {
	max-width: 72px;
	width: 100%;
	height: 100%;
}

.shopping-cart__item input {
	display: inline;
	width: 60px;
	margin: 0;
}
.shopping-cart__subtotal {
	margin: 1em 0 0;
	padding: 1rem 1rem 0;
	border-top: thin solid #111;
	text-align: center;
}

.shopping-cart__subtotal-text {
    display: -webkit-flex;
    display: flex;
    width: 100%;
    justify-content: space-between;
    text-transform: uppercase;
    font-size: 0.75rem;
}

.shopping-cart__button-containers,
.button-containers {
	padding: .5em 0 3em;
	display: flex;
	display: -webkit-flex;
	align-items: center;
	justify-content: center;
}

.shopping-cart .shopping-cart__button-containers {
  padding: 0;
}

.shopping-cart .shopping-cart__button-containers .shopping-cart__checkout.button--colored {
  width: 100%;
  max-width: unset;
  margin: 0 .5rem;
}

.shopping-cart__button-containers *,
.button-containers {
	margin: 0 1em;
}

.shopping-cart__empty-cart {
	text-decoration: none;
	font-size: .7rem;
	text-transform: uppercase;
}

.shopping-cart__close {
	font-size: 1.8rem;
	position: absolute;
	top: 0.5em;
	right: 0.5em;
	padding: .5rem;
	width: 1.8rem;
}

.shopping-cart__close img {
	width: 100%;
}

main {
	font-size: 0.7rem;
	margin-left: 0;
	min-height: 100%;
	width: 81%;
	width: calc(100% - 186px);
}

body:not(.template--collection) main,
body:not(.template--product) main  {
	max-width: unset;
	margin-top: 0;
	margin-left: 186px;
	padding: 8em 2.5em 5em;
}

body.template--product main  {
	width: 100%;
	max-width: unset;
	padding-top: 0;
}

.template--page main p {
	margin: 1em 0 2em;
}

.collection {
	width: 120vw;
	position: relative;
	overflow: hidden;
	height: 100vh;
	margin-left: -10vw;
}

body.template--collection-campaign  {
  max-width: unset;
}

.collection__description {
	text-align: center;
	width: 50%;
	margin: 2em auto;
}

.collection__description > * {
	margin: 1.75em 0;
}

.lookbook-grid {
	width: 100%;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.lookbook-grid__image {
  padding: 1rem;
  width: 50%;
}

.lookbook-grid__image img {
	width: 100%;
}

#shopify-section-lookbook {
    max-width: 1920px;
    width: 100%;
}

.product-grid {
	width: 100%;
	display: flex;
	display: -webkit-flex;
	-webkit-justify-content: flex-start;
	justify-content: flex-start;
	-webkit-flex-flow: row wrap;
	flex-flow: wrap;
	-webkit-align-items: stretch;
	align-items: flex-start;
	position: absolute;
	left: 0;
	top: 0;
}

.product-grid__card {
	display: inline-block;
	padding: 1em;
	flex: 1 50%;
	max-width: 50%;
}

.product-grid__card a {
	text-decoration: none;
}

.product-grid__image {
	width: 100%;
}

.product-grid__details {
	text-align: center;
}

.product {
	display: flex;
	display: -webkit-flex;
	flex-direction: row;
	flex-wrap: wrap;
	/*! flex-direction: row; */
}

.product__images {
	width: 100%;
	flex: 0 0 calc(100% - 296px);
	max-width: 100vh;
	min-width: 30vh;
}

.product__image {
	width: 100%;
}

.product__info {
	padding: 1em;
	align-self: flex-start;
	max-width: 296px;
	width: 100%;
}

.product__info > * {
	font-size: 0.7rem;
	margin: 0.25em 0 .5em;
}

.product__info > h1 {
	font-size: 0.85rem;
	margin-bottom: 0;
	text-transform: uppercase;
}

.product__info__price {
	font-weight: 700;
	color: #9D9D9D;
	margin-bottom: 1.75em;
}

.product__info .single-option-selector {
	width: 100% !important;;
}

.product__info input,
.product__info button,
.product__info select{
	width: 100%;
	max-width: unset;
}

.product__sold-out {
    margin: 1rem 0;
    display: block;
}

.product-info__klarna {
    text-transform: uppercase;
}

.button--disabled {
	text-transform: uppercase;
	font-weight: 700;
	padding: 0;
	margin-top: 1.4em;
}

.prodct__cart-form {
	margin: 1em 0 1.5em;
}

.prodct__cart-form > label {
	display: block;
}


.product-info__description {
	padding: 1em 0 1.5em;
}

.product-info__description h3 {
	margin: 1rem 0;
}

.product-info__description p {
	margin: 0 0 1em;
}

.productinfo__sold-out {
	display: block;
	font-weight: 700;
	font-size: 0.7rem;
	text-transform: uppercase;
	margin-top: 2em;
}

.product__info .size-chart__close {
    width: 1rem;
    height: 1rem;
}

.product__info .size-chart__close img {
  width: 100%;
}

.product-info__size-chart-button {
  text-align: right;
}

.product-info__size-chart-trigger {
  font-size: 0.5rem;
}

.product__info .product-info__size-chart-trigger {
  width: unset;
  padding: 0;
}

.product-info__size-chart-button {
  text-align: right;
}

.product-info__size-chart-trigger {
  font-size: 0.5rem;
}

.product__info .product-info__size-chart-trigger {
  width: unset;
  padding: 0;
}

#size-chart {
	display: none;
	max-width: 412px;
	width: 100%;
}

#size-chart.is-visible {
	display: block;
}

#size-chart img {
  width: 100%;
}

.product__info {
	position: relative;
}

@supports (position: sticky) {
	.product__info {
		position: -webkit-sticky;
		position: sticky;
		top: 25%;
	}
}

#shopify-section-product-recommendations,
.related-products {
	margin: 2em 0 4em;
	width: 100%;
	flex: 0 0 100%;
}

.related-products * {
	font-size: 0.7rem;
	width: 100%;
}

.related-products__container {
	list-style: none;
	display: flex;
	display: -webkit-flex;
}

.related-product {
	width: 25%;
	padding: 0 .5em;
}

.related-product a {
	text-decoration: none;
}

.blog-post {
	margin: 1.75em 0;
}

.blog-post:first-child {
	margin-top: 0;
}

.template--customers-addresses  form .grid {
	display: flex;
}

.template--customers-addresses  form .grid__item {
	width: 100%;
	max-width: 403px;
}

.template--customers-addresses  form .grid__item:first-child {
	margin-right: 1rem;
}

.register-header {
	display: flex;
	padding: 1em;
	align-items: center;
	justify-content: center;
}

.register-header > *{
	width: 50%;
	padding: 1em;
}

.register-header__header {
	font-size: 2.5rem;
	text-align: center;
}

.register-header__sub-head {
	text-align: center;
}

.register-form {
	width: 100%;
	display: flex;
	display: -webkit-flex;
	align-content: space-around;
	flex-wrap: wrap;
}

.register-form .form-message{
	width: 100%;
	padding: 0 1em;
}

.register-form__section {
	width: 100%;
	padding: 1em;
}

.template--customers-register .form-vertical {
	display: flex;
}

.template--customers-register .form-vertical > div {
    width: 100%;
}

.form-vertical h2 {
    padding: 0 0.7em;
}

.register-form__section p {
    margin-bottom: 1em;
}

.register-form__section p:last-child {
	margin-bottom: 0;
}

.register-form__section label,
.register-form__label{
	 text-transform: uppercase;
	 display: inline-block;
	 font-weight: 700;
	 width: 70px;
}

.register-form__label--grey {
	color: #333;
	font-weight: 400;
}

.register-form__img {
	width: 100%;
	max-height: 96px;
}

.register-form__section input {
	border: thin solid transparent;
	border-bottom: thin solid #111;
	display: inline-block;
	max-width: unset;
	width: calc(100% - 80px);
}

.register-form__section input.input--error {
	border-bottom: 1px solid #ad0404;
}

.register-form__submit {
	max-width: 200px;
	height: auto;
	margin: 0 auto;
	width: 100%;
	display: block;
}

.register-form__submit img {
	max-width: 260px;
	width: 100%;
}

.register-form__submit span {
	font-size: 1rem;
	margin-bottom: 1rem;
	display: inline-block;
	text-transform: uppercase;
	letter-spacing: -0.025em;
	display: block;
}

.register-form__prints {
    padding: 1.3em 0;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    /* justify-content: space-between; */
}


.register-form__prints img {
  max-height: 70px;
}

.register-form__img--right-thumb,
.register-form__img--right-middle {
  width: 130px;
}

.register-form__prints span {
    display: block;
    text-transform: uppercase;
}


